body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 65%;
    margin: 5rem;
}

h1 
{
    margin-left: 5rem;
    color: white;
}

.instrcn {
    color: brown;
    position: absolute;
    left: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}